@model CrudSample.Models.ClientEmployee

@{
    ViewBag.Title = "Details";
}

<h2>Employee Details</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <h3>
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
        </h3>

        <h3>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
        </h3>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

    </dl>
</div>
<p>
    <button onclick="location.href='@Url.Action("Edit", "Employee", new { id = Model.ClientEmployeeId })';return false;">Edit Details</button>

    <button onclick="location.href='@Url.Action("Index", "Employee")';return false;">Back To List</button>
</p>
